*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    box-shadow:inset rgba(22, 209, 200, 0.16) 0px 1px 4px,inset rgb(5, 196, 225) 0px 0px 0px 3px;
}

nav h2 {
    color: aqua;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 10px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 9px;
    transition: .7s;
}

nav ul li:hover {
    color: rgb(23, 27, 25);
    background-color: rgb(8, 212, 248);
}

nav ul a {
    text-decoration: none;
    color: aqua;
}

nav ul span{
    text-decoration: none;
    color: aqua;
    cursor: pointer;
}

.box {
    width: 100%;
    height: 89.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("Voting-Provider-Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box input {
    width: 300px;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 8px;
}

.box input::placeholder {
    color: rgb(55, 53, 53);
}

.box input:focus {
    outline: none;
    box-shadow: 2px 2px 4px black;
}

.box button {
    width: 300px;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    background-color: aliceblue;
}

.box button:hover {
    background-color: rgb(170, 194, 215);
}

.login{
    width: 400px;
    height: 300px;
}

.login form{
    background: rgb(34,194,195);
    background: linear-gradient(0deg, rgba(34,194,195,1) 14%, rgba(48,98,210,1) 84%);
    width: 380px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.login form input {
    width: 250px;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 8px;
}

.login form input::placeholder {
    color: rgb(55, 53, 53);
}

.login form input:focus {
    outline: none;
    box-shadow: 2px 2px 4px black;
}

.login form button {
    width: 250px;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    background-color: aliceblue;
}

.login form button:hover {
    background-color: rgb(170, 194, 215);
}

.login form h2{
    color: white;
}

.error{
    color: red;
    font-size: 20px;
    display: none;
}
